*{
    margin: 5px;
    -moz-box-sizing: border-box; 
}

body {
    height:95vh;
    background-color: #cccccc;
    font-family: sans-serif;
    text-align: center;
    color: #000000;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

header{
    background: #afafaf;
    padding: 20px;
}

.main{
    display: flex;
    flex: 1;
}

.left {
    background-color: #afafaf;
    padding: 3em 0 3em 0;
    flex: 1 1 100px;
}

main{
    background: #afafaf;
    padding: 3em 0 3em 0;
    flex: 5 5 150px;
}
.right {
    background: #afafaf;
    padding: 3em 0 3em 0;
    flex: 1 1 100px;
}

footer{
    background: #afafaf;
    padding: 20px;
}

@media all and (max-width:550px) {
    .main{
        flex-direction: column;
    }
    main{
        padding: 5em 0 5em 0;
    }
    
}